@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&family=Nunito:ital,wght@1,300;1,400;1,500;1,600&family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(226, 199, 153), rgb(192, 130, 97));
  /* para img */ 
 /*  background-size: cover;
  background-position: center;
 */
}

.wrapper {
  width: 750px;
  background: rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color: #fff;
  /* distancias internas entre as bordas e os elementos */
  padding: 40px 35px 55px;
  /* para quando reduzir não tocar no formulario margem lateral */
  margin: 0 10px;

}

.wrapper a {
  text-decoration: none;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
}

.wrapper .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.input-box .input-field {
  position: relative;
  /* distandia entre as dias colunas de input */
  width: 48%;
  margin: 13px 0;
  height: 50px;
}


.input-box .input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  font-size: 16px;
  /* para definr a cor do imput */
  color: #fff;
  border-radius: 6px;
  /*   espaçamento interno */
  padding: 15px 15px 15px 40px;
}


.input-box .input-field input::placeholder {
  /* cor antes do ato de digitar  */
  color: #fff;
}

.input-box .input-field i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper label {
  display: inline-block;
  font-size: 14.5px;
  margin: 10px 0 23px;
}

.wrapper label input {
  accent-color: #fff;
  margin-right: 5px;
}

.wrapper .btn {
  /* largura */
  width: 100%;
  /* altura */
  height: 45px;
  background: #fff;
  border: none;
  /* remove a borda de destaque padrã */
  outline: none;
  border-radius: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  /* especifica o peso da fonte */
  font-weight: 600;
}
.btn .animate-btn {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #ffffffb7;
}

@media(max-width:576px){
.input-box .input-field{
  width: 100%;
}
}